<ActionBar title="Title" class="action-bar" style="background-color:#1FAFD9 ;">
	<NavigationButton icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
</ActionBar>

<StackLayout>
	<Stackayout >
		<Image  src="~/assets/profile.png" borderRadius="100%" height="70" width="70" marginTop="130"
			 stretch="aspectFill"></Image>
	</Stackayout>
</StackLayout>

<StackLayout>
	<Stackayout class="body">
		<Label class="text-center" color="black" marginTop="200" text="Vehicle Details">
		</Label>
	</Stackayout>
</StackLayout>

<StackLayout>
	<Stackayout class="id">
		<Label class="text-center" color="#818485" marginTop="300" text="Vehicle Id:{A1DDZ21F}">
		</Label>
	</Stackayout>
</StackLayout>

<StackLayout>
	<Stackayout class="model">
		<Label class="text-center" color="#818485" marginTop="340" text="Vehicle Model:{A1DDZ21F}">
		</Label>
	</Stackayout>
</StackLayout>

<StackLayout>
	<Stackayout class="owner">
		<Label class="text-center" color="#818485" marginTop="380" text="Owner Name:{Saurav}">
		</Label>
	</Stackayout>
</StackLayout>