.body
{
    font-size: 30;
    font-weight: bold;
    
}
.id
{
    font-size: 20;
    font-weight: bold;

}
.owner
{
    font-size: 20;
    font-weight: bold;
}
.model
{
   
    font-size: 20;
    font-weight: bold; 

   
}


