<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
	<GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
		<StackLayout row="0" class="sidedrawer-header">

			<Image src="~/assets/face4.jpg" borderRadius="100%" height="60" width="60" marginright="20"
				stretch="aspectFill"></Image>
			<Label class="sidedrawer-header-brand" text="Saurav Anand"></Label>
			<Label class="footnote" text="sauravkumar2819@mail.com"></Label>
		</StackLayout>

		<ScrollView row="1">
			<StackLayout class="sidedrawer-content">
				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf1b9;" class="fa "></Label>
					<Label col="1" text="VehicleDetails" (tap)="clickvehicledetails()"  [nsRouterLink]="['vehicledetails']" class="p-r-10"></Label>
				</GridLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf041;" class="fa"></Label>
					<Label col="1" text="Map" (tap)="onMapReady()" [nsRouterLink]="['map']"class="p-r-10"></Label>
				</GridLayout>
				
				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf023;" class="fa"></Label>
					<Label col="1" text="UpdatePassword"  (tap)="onupdatepassword()" [nsRouterLink]="['updatepassword']"  class="p-r-10"></Label>
				</GridLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf08b;" class="fa"></Label>
					<Label col="1" text="Logout" (tap)="onlogout()" [clearHistory]="true" [nsRouterLink]="['login']" class="p-r-10"></Label>
				</GridLayout>



				<StackLayout class="hr-light"></StackLayout>


			</StackLayout>
		</ScrollView>
	</GridLayout>

	<page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>