<ActionBar title="UpadtePassword" class="action-bar" style="background-color:#1FAFD9 ;">
</ActionBar>
<GridLayout backgroundColor= "#CCCCCC"  class="body scf-card animate-bounceInLeft-delay-0ms">
  <ScrollView>
      <StackLayout margin="10" verticalAlignment="center">
          <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
              
              <StackLayout class="input-field">
                  <Label text="NewPassword" class="label font-weight-bold m-b-5"></Label>
                  <TextField class="input" [(ngModel)]="password" secure="true"></TextField>
                  <StackLayout class="hr-light"></StackLayout>
              </StackLayout>
              <StackLayout class="input-field">
                  <Label text="ReEnterPassword" class="label font-weight-bold m-b-5"></Label>
                  <TextField  class="input" [(ngModel)]="Repassword" secure="true"></TextField>
                  <StackLayout class="hr-light"></StackLayout>

              </StackLayout>
              <Button class="btn btn-primary w-full"  text="Submit"  (tap)="validate()"></Button>
          </StackLayout>
      </StackLayout>
  </ScrollView>
</GridLayout>  